<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %>,</h1>
    <p>
      You are Password has been successfully Changed,<br>
      your Email: <%= @user.email %>.<br>
      Click here to Login: <%= link_to 'Click here', @url %>.
      If you are not changed click here to Change: <%= link_to 'Click here', @url1 %>.
    </p>
    
  </body>
</html>
