<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      You have asked to reset the Password for your Account in Singesarena,<br>
      your Email: <%= @user.email %>.<br>
      your key to reset password: <%= @user.forgetkey %>. <br>
      Click here to reset: <%= link_to 'Click here', @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
