<div id="follow_button">
  <%=form_for(:follow,url: follow_users_path,remote:true) do |f| %>
    <%= f.hidden_field :followed_id, value: @user.id %>
    <%= f.submit "Follow", id: "Follow_button", class: "btn btn-primary" %>
  <% end %>
</div>
