
<div class="container">
  <div id="sign_up_error"></div>
  <div style="margin-top:5%;margin-bottom:4%">
      <h1 class="text-center col-md-3 offset-md-5">Signup</h1>
      <%= render 'form', user: @user %>
  </div>
</div>
