<div class="like_unlike card-link">
  <%= link_to "",{ controller: "songs", action: "unlike",song_id: song.id },remote: true,method: :get, class: "fa fa-thumbs-down" %> <%= song.likes.length %>
</div>
