<div class="container">
  <div class="mt-5 row">
      <% if @songs.any? %>
         <% @songs.each do | song | %>
            <div class="col-4">
              <%= render song %>
             </div>
         <% end %>
      <% end %>
  </div>
</div>
