/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 #message_contain_box{
   height: 60vh;
   max-height: 60vh;
   min-height: 60vh;
   overflow-x: hidden;
   overflow-y: scroll;
 }

 .msg{
   width: auto;
 }

   .all_border{
     border: 1px solid #c2c7d0;
     padding: 35px;
   }

 .small_padding{
   border: 1px solid #c2c7d0;
   padding: 15px;
 }

.border_top{
   border-top: 1px solid #c2c7d0;
   padding: 10px;
}
  .border_left{
     border-left : 1px solid #c2c7d0;
     padding: 10px;
  }
.border_right{
   border-right: 1px solid #c2c7d0;
   padding: 10px;
}

.all_shadow{
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom_shadow{
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2) !important;
}
