<% flash.each do |key,msg| %>
 <div class="text-center alert alert-<%= key %>"><%= msg %></div>
<% end %>
<div id="sign_up_error"></div>
<div class="container">
      <h2 class="text-center justify-content-md-center mt-5"><img src="<%= icon %>" height="50" width="50" class="img-fluid" >&nbsp;Singersarena</h2>
      <%= render 'form', user: @user %>
</div>
